*{
    margin: 0;
    box-sizing: border-box;
    font-family:Dosis,sans-serif;
}
footer{
    background-color: #02271C;
    padding: 1rem;
    /* border: 1px solid red; */
    width: 100vw;
}

.foot{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    /* padding: 1rem; */
    font-size: 2.5vw;
    /* border-top: 2px solid white; */
    color: white;
    display: flex;
    justify-content: space-between;
    /* margin: 1rem; */
}

.information{
    display: grid;
    gap: 1rem;
    /* border: 1px solid white; */
    padding: 1rem;
}

.info-list{
    list-style-type: none;
    padding-left: 0;
}

.Account{
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.Account-list{
    list-style-type: none;
    padding-left: 0;
}

.socials{
    padding: 1rem;
    display: grid;
}

.social-list{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-foot{
    padding: 1rem;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.logo-pi{
    /* border: 1px solid yellow; */
    border-top: 1px solid white;
    width: fit-content;
    text-align: right;
    /* margin-left: 2rem; */
}

/* .logo-pi h1{
    font-size: 1rem;
} */

@media screen and (min-width: 800px) {
    .foot{
        font-size: 1.5rem;
        justify-content: space-around;
    }
}
