*{
    margin: 0;
    box-sizing: border-box;
    font-family:Dosis,sans-serif;
}

body{
    overflow-x: hidden;
}

.banner{
    width: 100%;
    text-align: center;
    padding: 3rem;
    background-image: url("../pics/loc-banner.png");
    color: white;
    font-size: 2rem;
}

.main{
    width: 100%;
    text-align: center;
    /* padding: 1rem; */
}

.main img{
    width: 100%;
}

.mainspan{
    font-size: 2rem;
    padding: 1rem;
    color: #005239;
}
.location-list{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: flex-end; */
}

.loc-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d9dbdb;
    padding: 1rem;
    /* font-size: .2rem; */
    border-radius: 1rem;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.65);
}

.left{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}
.right{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}
.loc-image{
    width: 50vw;
}
.nation{
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px solid rgb(73, 73, 73);

}
.address{
    font-size: .6rem;
    padding: 1rem;
    border-bottom: 3px solid rgb(143, 142, 142);
}

.adddesc{
    text-align: left;
    font-size: .6rem;
    padding: 1rem;
}

@media screen and (min-width: 800px) {
    .location-list{
        flex-direction: row;
        gap: 5rem;
    }
    .loc-image{
        width: 20vw;
    }
    .right{
        gap: 3rem;
    }
    .left{
        gap: 3rem;
    }
    .loc-card{
        flex-direction: row;
    }
    .adddesc{
        font-size: .8rem;
    }
    .address{
        font-size: .9rem;
    }
}